html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #8ecae6;
}

header {
  display: flex;
  margin: 30px 0 0 30px;
}

a {
  color: #724c21;
  text-decoration: none;
}
a:hover {
  color: white;
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 27px;
}
.brand h1 {
  margin-left: 17px;
  font-size: 1.5em;
  width: 100%;
}
section {
  margin: 5px auto;
}
.game-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  text-align: center;
}
.player-name {
  font-size: 36px;
}
.user-tool img {
  width: 70%;
}
button {
  background-color: Transparent;
  border-color: transparent;
  width: 30%;
  height: 120px;
}
.Versus-Reset {
  margin: 20px 10px;
}
.Versus-Reset h1 {
  font-size: 44px;
  color: red;
}
.chosen {
  background-color: #c4c4c4;
  border-radius: 30px;
}
.winBox {
  height: 100px;
  display: grid;
  place-items: center;
  background: #4c9654;
  border-radius: 10px;
  margin: 15px auto;
  padding: 15px;
}

.drawBox {
  height: 100px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  margin: 15px auto;
  padding: 15px;
  background: blue;
  border-radius: 10px;
}

@media (min-width: 750px) {
  .game-area {
    flex-direction: row;
    transform: translateX(15%);
  }
  .used {
    display: flex;
    flex-direction: column;
  }
  .user-tool {
    align-self: center;
    width: 223px;
    height: 204px;
  }
  .user-tool img {
    width: 50%;
  }
  .Versus-Reset img {
    width: 50px;
    transform: translatey(350%);
  }
  .Versus-Reset {
    margin: auto 50px;
    width: 300px;
  }
  .Versus-Reset h1 {
    font-size: 144px;
  }
  .user-choice {
    margin: auto 5% 0 0;
  }
  .Com-Choice {
    margin: auto 0 0 5%;
  }
}
